<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM Document</title>
</head>
<body>
    
<div>

    <p>
        <form method="POST" action="{{ url_for('home') }}">
            <input type="text" name ="username" placeholder="Enter your username"/>
            <input type="password" name="password" placeholder="Enter your password"/>
            <button type="submit">Send</button>
        </form>
    </p>

</div>

</body>
</html>