<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index html file</title>
</head>
<body>

    <h1>{{article ['title']}}</h1>
    {% if article != None %}
    
    <p> Ky eshte paragraf</p>
    <div> Ky eshte nje div </div>
    <div>Permbajtja {{ indx }} eshte : {{ article ['content'] }}</div>
    <div>Imazhi e {{indx}} eshte : <img src ="{{article ['image']}}" alt="{{article['title']}}"></div>
    
    {% endif %}

</body>
</html>