<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>...Not Found...</title>
</head>
<body>
    <h1>NOT FOUND!!!</h1>
    <div>
        <p style="color:brown">
            Ju percaktuat parametrin {{indx}}
        </p>
    </div>
    <div>
        <p>
            Kujdes! parametri i percaktuar nga ju eshte gabim!
        </p>
    </div>
    <div>
        <p>
            Ju duhet te percaktoni nje parameter midis 1 dhe {{nr}}.
        </p>
    </div>
</body>
</html>